html {
    font-size: 62.5%
}
body {
    font-size: 1.6rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: vertical;
}
h1 {
    font-size: 3.6rem;
    text-align: center;
}
nav img{
    height: 60px;
    width: auto;
}
.links {
    gap:4 rem;
}