/* add css */
:root {
    --bg: #fec5ef;
    --lbg: #fef9d4;
    --fg: #fea77f;
    --acc: #ff7698;
    --head: "Lilita One", serif;
    --body: "Raleway", serif;

}
a {
    text-decoration: none;
}
a:link {
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--ac);
}
a:active {
    color:var(--acc);
}
html {
    font-size: 62.5%
}
body {
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.15;
}
h1 {
    font-size: 2.6rem;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {font-size: 2.8rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6{font-weight: 600;}
    img{
        width: 100%;
        height:auto;
    }
svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    pointer-events: none;
}

/*--
Document Styles --*/

nav {
    background-color: #dce0d9;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav footer {
    align-items: center;
    padding: 1rem 2rem;
}
nav div {
    display: flex;
}
.hero-copy {
    align-items: center;
}
.logo {
    align-items: center;
    gap: 2rem;
}
.logo h1 {
    padding-top: 10px;
}
.links {
    gap: 4rem
}
nav img {
    height: 6rem;
    width: auto;
}
main {
    max-width: 78vw;
    margin: auto;
}
section {
    display: grid;
    margin: 3rem auto;
    grid-gap: 3rem;
}
section.odd {
    grid-template-columns: 8fr 4fr;
}
section.even {
    grid-template-columns: 4fr 8fr;
}
div.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body {
    background-color: #fbf6ef;
}
footer {
    text-align: center;
}



.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  




/*-- Media Queries --*/

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 2rem;
    }
    section.even, section.odd {
        grid-template-columns: 1fr;
    }
    section.even div.poster {
        order: -1;
    }
 }